// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@mixin box-shadow($bs-value) {
  -webkit-box-shadow: $bs-value;
  -moz-box-shadow: $bs-value;
  box-shadow: $bs-value;
}

@mixin transition($tansition-value) {
  -webkit-transition: $tansition-value;
  -o-transition: $tansition-value;
  transition: $tansition-value;
}

@font-face {
  font-family: "Poppins";
  src: url("static/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("static/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Semi Bold";
  src: url("static/Poppins/Poppins-SemiBold.ttf");
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
}

* {
  @include transition(all 0.3s ease-in-out);
  font-family: 'Poppins';
}

ul {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.poppins-bold {
  font-family: 'Poppins Bold';
}

.poppins-semi-bold {
  font-family: 'Poppins Semi Bold';
}

#app {
  .content {
    margin-top: 100px;
    .loading-icon {
      display: block;
      width: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 2px;
      transform: translate(-50%, -50%);
    }
    .about-container {
      * {
        font-size: 16px;
      }
    }
    .terms-container,
    .privacy-container,
    .retension-container {
      h1,
      h2,
      h3,
      strong,
      em {
        font-family: 'Poppins Bold';
      }
    }
    .retension-container {
      .heading {
        font-family: 'Poppins Bold';
        font-size: 18px;
        margin-top: 30px;
      }
    }
    .content-row {
      @include box-shadow(0px 25px 31px -30px rgba(0,
      0,
      0,
      0.54));
      margin-bottom: 50px;
      &:last-child {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      hr {
        width: 179px;
        margin-left: 0;
        border-top: solid 4px #ff1654;
      }
      &.content-chat {
        .text-content {
          padding: 0px 10px 0 10px;
        }
      }
      .text-content {
        padding: 30px 25px 0 25px;
        .content-title {
          p {
            font-family: 'Poppins Bold';
            font-size: 36px;
          }
        }
        .content-sub-title {
          p {
            font-family: 'Poppins Semi Bold';
          }
        }
        .content-description {
          p {
            font-family: 'Poppins';
            a {
              color: red;
              text-decoration: underline;
            }
          }
        }
        .content-application {
          margin-top: 37px;
          width: 245px;
          .ios {
            float: left;
            width: 50%;
            img {
              height: 40px;
            }
          }
          .android {
            float: left;
            text-align: center;
            width: 50%;
            img {
              height: 40px;
            }
            p {
              margin-top: 8px;
            }
          }
          .coming-soon {
            margin-top: 20px;
          }
        }
      }
      .image-content {
        text-align: center;
        img {
          width: 80%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #app {
    .container {
      width: 960px !important;
    }
  }
}

@media (min-width: 768px) {
  #app {
    .container {
      width: 750px;
    }
  }
}

@media (max-width: 767px) {
  #app {
    .content {
      .container {
        width: 100%;
        margin: 0;
        padding: 0;
        .content-row {
          margin: 0 0 50px 0;
          padding: 0;
          .text-content {
            padding: 0 20px;
            .content-application {
              margin: 37px auto;
              text-align: center;
              .ios {
                img {
                  height: 35px;
                }
              }
              .android {
                img {
                  height: 35px;
                }
              }
            }
          }
          .image-content {
            padding: 0;
            img {
              margin-left: 65px;
              width: 100%;
            }
          }
          &.content-chat {
            .text-content {
              padding: 0 30px 0 20px;
            }
          }
          &.content-contact {
            .image-content {
              img {
                margin-left: 0;
                margin-top: 20px;
                width: 90%;
              }
            }
          }
        }
        &.terms-container,
        &.privacy-container,
        &.retension-container {
          width: 80%;
          margin: 0 auto;
          h1,
          h2,
          h3,
          strong,
          em {
            font-family: 'Poppins Bold';
          }
        }
      }
    }
    .menu {
      font-size: 3vw !important;
    }
  }
}