.footer {
  background: #f2f2f2;
  height: 48px;
  width: 100%;
  &.loading {
    bottom: 0;
    position: fixed;
  }
  .social {
    float: left;
    line-height: 36px;
    ul {
      li {
        display: inline-block;
        padding: 0 5px;
        a {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  .menu {
    color: #666666;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    ul {
      li {
        display: inline-block;
        padding: 0 5px;
        a {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}