.topbar {
  background: linear-gradient(90deg, #FF1654 0%, #FF5C5F 100%);
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  &.scroll-down {
    .logo {
      img {
        width: 40px;
        height: 40px;
        top: 4px;
      }
    }
  }
  .logo {
    position: relative;
    img {
      border-radius: 50%;
      height: 72px;
      left: 5%;
      position: absolute;
      top: 10px;
      width: 72px;
    }
  }
  .menu {
    color: #fff;
    float: right;
    text-align: right;
    vertical-align: middle;
    width: 50%;
    ul {
      padding: 15px;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 15px;
        a {
          color: #fff;
        }
      }
    }
  }
  .burger-menu {
    color: #fff;
    font-size: 33px;
    position: absolute;
    right: 4%;
    i {
      cursor: pointer;
    }
    .menu-mobile {
      background: lightgray;
      font-size: 23px;
      height: calc(100% - 84px);
      position: fixed;
      right: -65%;
      top: 48px;
      width: 65%;
      &.active {
        right: 0;
      }
      ul {
        li {
          list-style: none;
          padding: 15px 35px;
          border-bottom: 1px solid;
          &:hover {
            background: lightgreen;
          }
          a {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }
}